
    <footer class="">
	
		<div class="row">
			<div id="creator" class="left">
				Designed By
				<a class="teamStyle black-text text-lighten-3" href="#">
					<strong>Pradeep Singh</strong>
				</a>
			</div>
			<div id="copyright" class="right">
				Tribute by <strong>Indian Udacidians</strong>
			    <span id="copy"> &copy;2018</span>
			</div>
		</div>

	</footer>

    <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="scripts/materialize.min.js"></script>
	<script src="scripts/script.js"></script>
</body>

</html>
