
    <footer class="page-footer blue lighten-2 center">
	
		<div class="row">
		  <div class="col m6 s12 copyright">
				Created By
				<a class="teamStyle black-text text-lighten-3" href="#">
					<b>Pradeep Singh, A & B</b>
				</a>
			  <span id="copy"> &copy;2018</span>
		  </div>
		</div>

	</footer>

    <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="scripts/materialize.min.js"></script>

</body>

</html>
