<% include partials/header1.ejs %>

	<main>
	
		<div class="row ">
			<div class="col m12 s12 center">
				<h1>Tribute To Udacity</h1><br>
				<h4>A fun project to Tribute Udacity and our mentors</h4>
			</div>
		</div>

	</main>

  <% include partials/footer.ejs %>
