<% include partials/header.ejs %>

	<main>

		<div class="row ">
			<div class="col m12 s12 center">
				<h1>Tribute To Udacity</h1><br>
				<h4>A fun project to Tribute Udacity and our mentors</h4>
			</div>






	</div>










	<div class="section">
	<div class="row ">

		<div class="card col s3 " style="width: 290px; height:300px;margin-left:35px">
    	<div class="card-image waves-effect waves-block waves-light">
      	<!--<img class="activator" src="images/office.jpg">-->
				<div style="width:270px; height:150px;" class="grey lighten-1 center">

					<span class="card-title  grey-text text-darken-4 ">CollabProject </span>
					<i class="material-icons right activator">add</i>
				</div>
    	</div>
    	<div class="card-content">
				<p class="right"><strong><em>--project idea by</em></strong></p><br>
      	<p><strong>About</strong><br></p>
    	</div>
			<div class="card-reveal">
      	<span class="card-title grey-text text-darken-4">Made By<i class="material-icons right">close</i></span>
				<span>contributors</span><br>
				<strong>(Moderators in bold)name 1, name 2 name 3</strong>
				<p>(contributors) cont 1 cont  2 cont 3</p>
    	</div>
  	</div>

		<div class="card col s3 " style="width: 290px; height:300px;margin-left:35px">
    	<div class="card-image waves-effect waves-block waves-light">
      	<!--<img class="activator" src="images/office.jpg">-->
				<div style="width:270px; height:150px;" class="grey lighten-1 center">

					<span class="card-title  grey-text text-darken-4 ">CollabProject </span>
					<i class="material-icons right activator">add</i>
				</div>
    	</div>
    	<div class="card-content">
				<p class="right"><strong><em>--project idea by</em></strong></p><br>
      	<p><strong>About</strong><br></p>
    	</div>
			<div class="card-reveal">
      	<span class="card-title grey-text text-darken-4">Made By<i class="material-icons right">close</i></span>
				<span>contributors</span><br>
				<strong>(Moderators in bold)name 1, name 2 name 3</strong>
				<p>(contributors) cont 1 cont  2 cont 3</p>
    	</div>
  	</div>

		<div class="card col s3 " style="width: 290px; height:300px;margin-left:35px">
    	<div class="card-image waves-effect waves-block waves-light">
      	<!--<img class="activator" src="images/office.jpg">-->
				<div style="width:270px; height:150px;" class="grey lighten-1 center">

					<span class="card-title  grey-text text-darken-4 ">CollabProject </span>
					<i class="material-icons right activator">add</i>
				</div>
    	</div>
    	<div class="card-content">
				<p class="right"><strong><em>--project idea by</em></strong></p><br>
      	<p><strong>About</strong><br></p>
    	</div>
			<div class="card-reveal">
      	<span class="card-title grey-text text-darken-4">Made By<i class="material-icons right">close</i></span>
				<span>contributors</span><br>
				<strong>(Moderators in bold)name 1, name 2 name 3</strong>
				<p>(contributors) cont 1 cont  2 cont 3</p>
    	</div>
  	</div>
		<div class="card col s3 " style="width: 290px; height:300px;margin-left:35px">
    	<div class="card-image waves-effect waves-block waves-light">
      	<!--<img class="activator" src="images/office.jpg">-->
				<div style="width:270px; height:150px;" class="grey lighten-1 center">

					<span class="card-title  grey-text text-darken-4 ">CollabProject </span>
					<i class="material-icons right activator">add</i>
				</div>
    	</div>
    	<div class="card-content">
				<p class="right"><strong><em>--project idea by</em></strong></p><br>
      	<p><strong>About</strong><br></p>
    	</div>
			<div class="card-reveal">
      	<span class="card-title grey-text text-darken-4">Made By<i class="material-icons right">close</i></span>
				<span>contributors</span><br>
				<strong>(Moderators in bold)name 1, name 2 name 3</strong>
				<p>(contributors) cont 1 cont  2 cont 3</p>
    	</div>
  	</div>
	</div>

	</div>
	<div class="section">
			<h2 class="header">participants reviews</h2>
			<div class="s12 m12 red">

				<div class="row">
				<div class="scrollable"style="overflow :auto">
					<div class=" col s3">
						<div class="card horizontal " style="border-radius:20px;width:300px">
		 					<div class="card-image">
			 					<img style="border-radius:50%;margin:15px 0px 15px 10px;width:100px;height:100px"src="https://lorempixel.com/100/190/nature/6">
		 					</div>
		 					<div class="card-stacked">
			 					<div class="card-content">
				 						<p>"participants experience"</p>
			 					</div>
			 					<!--<div class="card-action">
				 					<a href="#">link to summary of participants</a>
			 					</div>-->
		 					</div>
	 					</div>
					</div>

					<div class=" col s3">
						<div class="card horizontal " style="border-radius:20px;width:300px">
							<div class="card-image">
								<img style="border-radius:50%;margin:15px 0px 15px 10px;width:100px;height:100px"src="https://lorempixel.com/100/190/nature/6">
							</div>
							<div class="card-stacked">
								<div class="card-content">
										<p>"participants experience"</p>
								</div>
								<!--<div class="card-action">
									<a href="#">link to summary of participants</a>
								</div>-->
							</div>
						</div>
					</div>

					<div class=" col s3">
						<div class="card horizontal " style="border-radius:20px;width:300px">
							<div class="card-image">
								<img style="border-radius:50%;margin:15px 0px 15px 10px;width:100px;height:100px"src="https://lorempixel.com/100/190/nature/6">
							</div>
							<div class="card-stacked">
								<div class="card-content">
										<p>"participants experience"</p>
								</div>
								<!--<div class="card-action">
									<a href="#">link to summary of participants</a>
								</div>-->
							</div>
						</div>
					</div>

					<div class=" col s3">
						<div class="card horizontal " style="border-radius:20px;width:300px">
							<div class="card-image">
								<img style="border-radius:50%;margin:15px 0px 15px 10px;width:100px;height:100px"src="https://lorempixel.com/100/190/nature/6">
							</div>
							<div class="card-stacked">
								<div class="card-content">
										<p>"participants experience"</p>
								</div>
								<!--<div class="card-action">
									<a href="#">link to summary of participants</a>
								</div>-->
							</div>
						</div>
					</div>

				





				</div>
			</div>
		</div>
	</div>




  <% include partials/footer.ejs %>
