<% include partials/header.ejs %>

	<main class="center-align">
						
		<!-- section1 starts -->
		<section id="announcement">
			
			<div class="row">
				<div class="col m12 s12">
					<h3 id="emailHeading" class="animated slideInDown"><strong>< The Announcement Email /></h3>
				</div>
			</div>

			<div class="row left-align">
				<div class="col m4 s12">
					<img id="challenge-img" class="animated slideInLeft" src="media/udacitychallengescholarship.png">
				</div>
				<div id="challengeEmail" class="col m8 s12">
					<p id="challengeEmailHeading">Congratulations Udacidian!</p>

					<p>Hi Udacidian,</p>

					<p>
						We are excited to offer you a <b>Google India Challenge Scholarship</b> 
						for the <b>Front-End Web Developer track</b>. We received applications 
						from many talented and motivated candidates, and yours truly stood out.
					</p>
						

					<p>Share your good news!</p>
					<p>
						Download your scholarship badge and post it to your favorite social networks 
						with the hashtag #GoogleUdacityScholars and @UdacityIndia.
					</p>
					
					<p><b>Your first day of class is Wednesday, February 14.</b></p>
					<p>After reviewing your application, we've placed you in the most appropriate course 
					based on your experience and technical qualifications. As a scholarship recipient, 
					you will be automatically enrolled into the initial 3-month challenge course. 
					On Wednesday, February 14th, we'll send you instructions on how to get started.</p>

					<p>Congratulations again!<p>

					<span>Ishan Gupta</span><br>
					<span>Managing Director, India</span>
				</div>
			</div>
		
		</section>
		
		<!-- section2 starts -->
		<section id="collabProjects">

		
			<div class="row">
				<div class="col m12 s12">
					<h3>< Collaborative Projects /></h3>
				</div>
			</div>
			
			
			<p>
				<a href="" class="typewrite" data-period="2000" 
					data-type='[ "4 Collaborative Projects.", "UdaBuddy", "Jeevan-Rakht", "Quiz-App", "Task-Master" ]'>
					<span class="wrap"></span>
				</a>
			</p>
		
			<div class="row">
			
				<div id="abc">

					<div class="col s12 m6 l3">

						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
							  <img class="activator" src="media/udabuddy-img.png">
							</div>
							<div class="card-content">
							  <span class="card-title activator grey-text text-darken-4">UdaBuddy<i class="material-icons right">more_vert</i></span>
							  <p><a href="https://github.com/UdacityFrontEndScholarship/udabuddy">See UdaBuddy on GitHub</a></p>
							</div>
							<div class="card-reveal">
							  <span class="card-title grey-text text-darken-4">UdaBuddy<i class="material-icons right">close</i></span>
							  <p>A platform to connect all Udacity students and alumni !</p>
							  <p><strong>Share | Showcase | Discuss</strong></p>
							</div>
						</div>
						
					</div>
						
					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
							  <img class="activator" src="media/jeevan-rakht-logo.png">
							</div>
							<div class="card-content">
							  <span class="card-title activator grey-text text-darken-4">Jeevan-Rakht<i class="material-icons right">more_vert</i></span>
							  <p><a href="https://github.com/UdacityFrontEndScholarship/jeevan-rakht">See Jeevan-Rakht on GitHub</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Jeevan-Rakht<i class="material-icons right">close</i></span>
								<p>
									A Virtual Blood Bank kind of web app, 
									that provides a mechanism for people in need to directly talk to willing donors, 
									and also to find out blood availability in nearby blood banks.							  
								</p>
							</div>
						</div>
					</div>
						
					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
							  <img class="activator" src="media/skillup-logo.jpg">
							</div>
							<div class="card-content">
							  <span class="card-title activator grey-text text-darken-4">Quiz-App<i class="material-icons right">more_vert</i></span>
							  <p><a href="https://github.com/UdacityFrontEndScholarship/quiz-app">See Quiz-App on GitHub</a></p>
							</div>
							<div class="card-reveal">
							  <span class="card-title grey-text text-darken-4">Quiz-App<i class="material-icons right">close</i></span>
							  <p>A coding-quiz type of website, where programmers can challenge each other in the language they prefer</p>
							</div>
						</div>
					</div>
							
					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
							  <img class="activator" src="media/task-master-logo.jpg">
							</div>
							<div class="card-content">
							  <span class="card-title activator grey-text text-darken-4">Task-Master<i class="material-icons right">more_vert</i></span>
							  <p><a href="https://github.com/UdacityFrontEndScholarship/task-master">See Task-Master on GitHub</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Task-Master<i class="material-icons right">close</i></span>
								<p>An online Goal List that can be programmed to pop up as reminders.</p>
								<p>It's a place much like a slam book, but only on the web.</p>
								<p>You can write your goals in it and scratch it when u have achieved it.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- section3 starts -->
		<section id="reviews">
			
			<div class="row">
				<div class="col m12 s12">
					<h3>< Hear from Students /></h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m12">
					<div class="carousel">
						<a class="carousel-item" href="#three!">
							<img class="reviewerImage" src="media/tripti-img.jpg">
								<span class="reviewerName" ><strong>Tripti Saini</strong></span><br>
								<span class="review">The Best thing about this community is learning and growing together with 
								people having diverse knowledge and experience</span>
						</a>
						<a class="carousel-item" href="#one!">
							<img class="reviewerImage" src="media/vanisha-img.jpg">
								<span class="reviewerName" ><strong>Vanisha SIngh</strong></span><br>
								<span class="review">
									Being selected for the scholarship was a wonderful feeling, but being a part of this community was what made the journey worthwhile.
								</span>
						</a>
						<a class="carousel-item" href="#one!">
							<img class="reviewerImage" src="media/vatsal-img.jpg">
								<span class="reviewerName"><strong>Vatsal Trivedi</strong></span><br>
								<span class="review">
									Trying to learn something new and contribute in this community of people striving to code has been awesome.
								</span>
						</a>
						<a class="carousel-item" href="#two!">
							<img class="reviewerImage" src="media/sofia-img.jpg">
								<span class="reviewerName"><strong>Sofia Nayak</strong></span><br>
								<span class="review">This is a beautiful experience for me as a beginner.</span>
						</a>
						<a class="carousel-item" href="#five!">
							<img class="reviewerImage" src="media/prateek-img.jpg">
								<span class="reviewerName"><strong>Prateek Teewari</strong></span><br>
								<span class="review">
									10k students, different identities, different skills, yet became one to learn- Thanks Udacity & Google.
								</span>
						</a>
						<a class="carousel-item" href="#four!">
							<img class="reviewerImage" src="media/aarti-img.jpg">
								<span class="reviewerName"><strong>Archana Kumari</strong></span><br>
								<span class="review">
								I feel delighted that Udacity has given me a chance to become a Developer.
								</span>
						</a>
					</div>
				</div>
			</div>
		</section>
				
		<!-- section4 starts -->
		<section id="mentors">
			
			<div class="row">
				<div class="col m12 s12">
					<h3>< The Mentors /></h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="media/akshit.jpg">
								<a class="btn-floating halfway-fab waves-effect waves-light red" 
									href="https://www.linkedin.com/in/akshit94/" target="_blank">
									<i class="material-icons">add</i>
								</a>
						  <span class="card-title">Akshit Jain</span>
						</div>
						<div class="card-content grey-text text-darken-4">
						  <p>Student Experience Lead - Android at <em>Udacity India</em></p><br>
						  <p>New Delhi, Delhi, India</p>
						</div>
				    </div>
				</div>
				<div class="col s12 m8 valign-wrapper">
					The best way a mentor can prepare another leader is to expose him to other great people.
					One of the greatest strength of this course is our mentor Akshit Jain. 
					The way he treated us was always cool and worth to learn from him. 
					The way of conducting ama sessions tells about his managing skills. 
					He never put any pressure on students. He always replied to students in AMA sessions and on DM as well. 
					Finally he was the biggest strength to this community.
					<br><br>
					"To see students make a good professional career for themselves and 
					me contributing to that somehow really keeps me motivated and inspired.
				</div>
			</div>
			<div class="row">
				<div class="col s12 m8">
					<div  class="valign-wrapper">
						
						<div id="content1">
						<p>He was the one who always cleared our technical doubts in #live-help official channel. 
						He covered all the latest technologies and cleared all our doubts very interestingly.
						</p>
					</div>
				</div></div>
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="media/iip.jpg">
							<a class="btn-floating halfway-fab waves-effect waves-light red" 
								href="https://www.linkedin.com/in/iip-permana-2b4468124/" target="_blank">
								<i class="material-icons">add</i>
							</a>
							<span class="card-title">Iip Permana</span>
						</div>
						<div class="card-content grey-text text-darken-4">
						  <p>Course Manager at <em>Udacity</em></p><br>
						  <p>Greater Jakarta Area, Indonesia</p>
						</div>
				    </div>
				</div>
				
			</div>
		</section>
		
		</main>

  <% include partials/footer.ejs %>